<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservationc.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservationc.start_time %>
</p>

<%= link_to 'Edit', edit_reservationc_path(@reservationc) %> |
<%= link_to 'Back', reservationcs_path %>
